@font-face {
    font-family: 'Futurestd';
    font-style: normal;
    font-weight: 200;
    src: url(fonts/futurastd-light.otf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Futurestd';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/futurastd-medium.otf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Futurestd';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/futurastd-book.otf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Futurestd';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/futurastd-heavy.otf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
    font-family: Futurestd, 'Futurestd', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
} 
    .header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        -webkit-transition: background 0.4s, all 0.3s linear;
        -o-transition: background 0.4s, all 0.3s linear;
        transition: background 0.4s, all 0.3s linear;
    }
    .header.navbar_fixed .main_menu {
        position: fixed;
        width: 100%;
        top: -70px;
        left: 0;
        right: 0;
        background-color: #f7f7f7;
        -webkit-transform: translateY(70px);
        -ms-transform: translateY(70px);
        transform: translateY(70px);
        -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
        transition: background 500ms ease, -webkit-transform 500ms ease;
        -o-transition: transform 500ms ease, background 500ms ease;
        transition: transform 500ms ease, background 500ms ease;
        transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
        -webkit-transition: transform 500ms ease, background 500ms ease;
        -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
      }
    .img1  {
        width: 13rem;
    }
    .img2 {
        width: 9rem;
    }
    .home_banner_area {
        position: relative;
        z-index: 1;
        min-height: 1100px;
    }
    .home_banner_area.super-home {
        overflow: hidden;
    }
    .home_banner_area.super-home .container-min-alto {
        min-height: 750px;
    }
    .home_banner_area .banner_inner {
        position: relative;
        width: 100%;
        min-height: 1097px;
        background-color: rgba(0, 0, 0, 0.28);
        padding-bottom: 4rem;
    }
    .home_banner_area.super-home .banner_inner {
        height: 100%;
    }
    .super-home .sujeto h2{
        font-weight: 800;
        color: #f7f7f7;
        font-size: 36px;
        line-height: 30px;
    }
    .home_banner_area .banner_inner .overlay {
        position: absolute;
        background: url(img/fotofondo1.jpg) top right no-repeat;
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
    }

    .home_banner_area .banner_inner .banner_content {
        padding-top: 80px;
        max-width: 1400px;
        align-self: center;    
    }

    .home_banner_area .banner_inner .banner_content .col-lg-5 {
        -ms-flex-item-align: center;
        align-self: center;
        vertical-align: middle;
    }


    .home_banner_area .banner_inner .banner_content p {
        text-transform: uppercase;
        font-size: 42px;
        line-height: 64px;
        font-family: "Futurestd",sans-serif;
        font-weight: 200;
        color: #f7f7f7;
    }
    .super-home .sujeto p{
        font-size: 25px !important;
        line-height: 24px !important;
        text-transform: none !important;
    }
    .home_banner_area .banner_inner .banner_content p span{
        font-size: 46px;
        line-height: 24px;
        font-family: "Futurestd", sans-serif;
        font-weight: 900;
        color: #f7f7f7;
    }
    .center-parrafo {
        position: relative;
        bottom: 1px;
    }
    .center-parrafo h2 {
        text-transform: uppercase;
        font-size: 39px;
        line-height: 54px;
        font-family: "Futurestd", sans-serif;
        font-weight: 900;
        color: #f7f7f7;
    }
    .center-parrafo p {
        font-size: 23px;
        line-height: 37px;
        font-family: "Futurestd",sans-serif;
        font-weight: 200;
        color: #f7f7f7;
    }
    .area-botones {
        background-image: url(img/fondoRojo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 200;
        overflow-y: visible;
        padding: 90px 0;
        margin-top: -38px;
        min-height: 1063px;
    }
    .area-botones h1 {
        text-transform: uppercase;
        font-size: 54px;
        line-height: 75px;
        font-family: Futurestd,sans-serif;
        font-weight: 300;
        color: #f7f7f7;     
    }
    .area-botones p{
        font-size: 31px;
        line-height: 45px;
        letter-spacing: 4px;
        font-family: Futurestd,sans-serif;
        font-weight: 200;
        color: #f7f7f7;
    }
    .area-botones h1 span {
        font-family: "Futurestd",sans-serif;
        font-weight: 900;
        color: #f7f7f7;     
    }
    .area-botones p span{
        text-transform: uppercase;
        font-size: 31px;
        line-height: 37px;
        font-family: "Futurestd",sans-serif;
        font-weight: 900;
        color: #f7f7f7;
    }
    .area-botones .container {
        max-width: 1650px;
    }
    .area-botones .carta-boton {
        max-width: 250px;
        background-color: #b3b3b3;
        border-radius: 20px;
        min-width: 250px;
    }

    .area-botones .carta-boton img {
        width: 200px;
    }
    .area-botones .carta-boton h3 {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 28px;
        font-family: Futurestd,sans-serif;
        font-weight: 900;
        color: #f7f7f7;
    }
    .area-botones .carta-boton button {
        background-color: #c1272d;
        border-color: #c1272d;
        border-radius: 5px;
        box-shadow: 0px 5px 9px -4px #000;
        padding: 7px 33px;
        font-size: 31px;
        line-height: 37px;
        font-family: "Futurestd",sans-serif;
        font-weight: 700;
        color: #f7f7f7;
        transition: 0.3s all ease-in;
    }
    .area-botones .carta-boton button:hover {
        background-color: #85171b;
    }
    .myfooter h1 {
        text-transform: uppercase;
        font-size: 40px;
        line-height: 22px;
        font-family: 'Futurestd',sans-serif;
        color: #c1272d;
        font-weight: 800;
        margin-bottom: 26px;
    }
    .myfooter .img-redes {
        max-width: 73px;
    }
@media (max-width: 575.98px) {
    .img1 {
        width: 12rem;
    }

}
@media (max-width: 767px) {
    .myfooter img {
        max-width: 270px !important;
        width: auto !important;
    }
    .home_banner_area .banner_inner .banner_content p {
        font-size: 34px;
        line-height: 56px;
    }
    .home_banner_area .banner_inner .banner_content p span {
        font-size: 42px;
        line-height: 24px;
    }
    .home_banner_area .banner_inner {
        padding-top: 125px;
    }
}
@media (min-width: 1900px) {
    .area-botones {
        background-color: #c1272d;
        margin-top: 0px;
        background-image: none;
    }
}
@media (max-width: 829px) {
    .area-botones {
        background-color: #c1272d;
        background-image: none;
    }
}
 